$burnt-orange-color: #BF5700;

@mixin center-flex($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin background-it($path){
	background-image: $path;
	color: white;
}

body{
	background: #f5f5f5;
    padding: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    #root{
    	@include center-flex(column);
    }

	.main-container{
	    @include center-flex(column);
	    width: 800px;
	    box-shadow: 5px 5px 5px #888888;
	    img.header-image{
		    width: 800px;
	    	height: 240px;
	    	border: 1px solid black;
	    }
	    .center-image{
    	    width: 100%;
    	    height: 0px;
    		text-align: center;
    		z-index: 2;
		    img.juan-image{
			    width: 128px;
			    height: 128px;
			    border-radius: 50%;
			    border: 5px solid #ededed;
			    position: relative;
			    bottom: 80px;
			    box-shadow: 1px 1px 1px #888888;
		    }
		    img.juan-engineer{
		    	width: 100%;
			    position: relative;
			    bottom: 141px;
			    border: 1px solid black;
			    z-index: 1;
		    }
	    }
	    .content{
		    width: 100%;
		    text-align: left;
		    height: 475px;
		    color: #e1dfe0;
		    z-index: 1;
		    background-size: cover;
		    .information{
		    	padding-top: 50px;
	    		h1{
			       	margin: 0px;
				    padding: 0px;
				    margin-left: 40px;
				    font-size: 50px;
				    text-align: left;
				    font-weight: 500;
				    letter-spacing: 5px;
				    color:white;
	    		}
	    		ul.skills-list{
	    			width: 350px;
		    		li.skills{
		    			list-style-type: none;
		    			font-size: 20px;
		    			cursor: pointer;
		    			padding: 8px;
		    			&:nth-child(even) {
						    color: $burnt-orange-color;
						    &:hover{
						    	color: yellow;
						    }
						}
		    			&:hover{
		    				color: yellow;
		    			}
		    		}	
	    		}

		    }
    		.navigation-container{
    			ul.navigation-items{
				    column-count: 4;
    				column-gap: 30px;
    				padding: 10px;
    				li{
    					color: #e9d9d0;
    					list-style-type: none;
    					cursor: pointer;
    					text-align: center;
    					&:hover{
    						color: $burnt-orange-color;
    					}
    				}
    				a{
    					color: inherit;
    				}
    			}
    		}
    		
	    }
	}

	.skill-container{
		width: 800px;
		height: 685px;
		background: white;
	    opacity: 1;
	    display: block;
	    position: relative;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1050;
	    overflow: hidden;
	    -webkit-overflow-scrolling: touch;
	    outline: 0;
        border-radius: 10px;
    	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    	box-shadow: 0 5px 15px rgba(0,0,0,.5);
    	
	    .skill-inner-container{
	    	height: 100%;
		    .header{
		    	@include center-flex(column);
	    	    font-size: 24px;
    			color: #1D3649;
    			font-weight: bold;
		    	height: 25%;
		    	div{
	    		    height: 50px;
    				width: 100%;
		    	}
		    	h1{
		    		margin: 0px;
		    	}
		    	.inner-icon{
		    		color: white;
		    		font-size: 1.25em;
	    			margin-top: 7px;
		    	}

			    .fa{
			    	&-microchip{
			    		margin-top: 9px;
			    	}
			    	&-music{
			    		margin-left: -2px;
			    	}
			    	&-heartbeat{
			    		margin-top: 10px;
			    	}
			    	&-futbol-o{
			    		margin-top: 9px;
			    	}
			    }
		    }
		    .body{
	    	    background-color: #1D3649;
			    display: flex;
		        justify-content: flex-start;
    			align-items: flex-start;
			    flex-direction: column;
			    padding: 25px;
			    color: white;
			    height: 75%;
			    p{
			    	line-height: 25px;
			    }
			    img{
		    	    height: 250px;
				    margin: auto;
				    width: 50%;
				    margin-bottom: 0px;
				    margin-top: 0px;
			        border: 1px solid white;
    				border-radius: 5px;
			    }
			    a{
			    	text-align: center;
			    }

			    .embedded{
			    	img{
			    		height: 221px;
			    		cursor: pointer;
			    	}
			    }
			    .band{
			    	height: 282px;
			    }
			    .salsa{
			    	height: 280px;
			    }

			    .graduation{
			    	width: 335px;
			    }
		    }
	    }
	}

	.back-button{
	    position: absolute;
	    bottom: 0;
	    right: 350px;
	    margin-bottom: 25px;
        padding: 8px;
	    width: 100px;
	    border: none;
	    border-radius: 5px;
	    background: #374c59;
	    color: white;
	    text-align: center;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.42857143;
	    vertical-align: middle;
	    cursor: pointer;
	    &:hover{
	    	color: #ededed;
	    }
	}

    .overlay{
    	position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: #000;
	    opacity: 0.5;
    }

    .navigation-container{
    	
    }
}

.full-width{
	width: 100%;
}


.app-appear{
	opacity: 0.01;
	&-active{
		opacity:1;
		transition: opacity 500ms ease-in;
	}
}


.app-enter{
	opacity: 0.01;
	&-active{
		opacity:1;
		transition: opacity 5s ease-in;
	}
}

.app-leave{
	opacity: 1;
	&-active{
		opacity:0;
		transition: opacity 500ms ease-out;
	}
}