$full-banner-image: url(/img/banner_full.jpg);
$burnt-orange-color: #BF5700;

@mixin center-flex($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin background-it($path){
	background-image: $path;
	color: white;
}

body{
	background: #f5f5f5;
    padding: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    #root{
    	@include center-flex(column);
    }

	.main-container{
	    @include center-flex(column);
	    width: 800px;
	    box-shadow: 5px 5px 5px #888888;
	    img.header-image{
		    width: 800px;
	    	height: 240px;
	    	border: 1px solid black;
	    }
	    .center-image{
    	    width: 100%;
    	    height: 0px;
    		text-align: center;
    		z-index: 2;
		    img.juan-image{
			    width: 128px;
			    height: 128px;
			    border-radius: 50%;
			    border: 5px solid #ededed;
			    position: relative;
			    bottom: 80px;
			    box-shadow: 1px 1px 1px #888888;
		    }
		    img.juan-engineer{
		    	width: 100%;
			    position: relative;
			    bottom: 141px;
			    border: 1px solid black;
			    z-index: 1;
		    }
	    }
	    .content{
		    width: 100%;
		    text-align: left;
		    height: 440px;
		    color: #e1dfe0;
		    @include background-it($full-banner-image);
		    z-index: 1;
		    background-size: cover;
		    .information{
		    	padding-top: 50px;
	    		h1{
			       	margin: 0px;
				    padding: 0px;
				    margin-left: 40px;
				    font-size: 50px;
				    text-align: left;
				    font-weight: 500;
				    letter-spacing: 5px;
				    color:white;
	    		}
	    		ul{
	    			width: 350px;
		    		li{
		    			list-style-type: none;
		    			font-size: 20px;
		    			cursor: pointer;
		    			padding: 5px;
		    			&:nth-child(even) {
						    color: $burnt-orange-color;
						    &:hover{
						    	color: yellow;
						    }
						}
		    			&:hover{
		    				color: yellow;
		    			}
		    		}
	    			
	    		}

		    }
    		
	    }
	}
    .overlay{
    	position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: #000;
	    opacity: 0.5;
    }
}

.full-width{
	width: 100%;
}


.app-appear{
	opacity: 0.01;
	&-active{
		opacity:1;
		transition: opacity 500ms ease-in;
	}
}


.app-enter{
	opacity: 0.01;
	&-active{
		opacity:1;
		transition: opacity 5s ease-in;
	}
}

.app-leave{
	opacity: 1;
	&-active{
		opacity:0;
		transition: opacity 500ms ease-out;
	}
}




